<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p><strong>Orders</strong>
  <ul>
  <% @customer.orders.each do |order| %>
  <li><%= order.item %></li>
  <% end %>
    </ul>
</p>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
